$padding: 10px;
$margin: 10px;
$borderRadius: 5px;
$iconColorHover: rgb(101, 148, 250);

$btnMinHeight: 30px;
$btnMinWidth: 80px;
$btnBorderRadius:5px;
$btnSubmitColor: rgb(25,118,210);
$btnCancelColor: rgb(234,69,100);
$btnDisabledColor: lightgrey;
$btnFontColor: white;

@mixin displayFlex ($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
}

@mixin buttonStyle ($color, $fontColor, $cursor) {
    min-height: $btnMinHeight;
    min-width: $btnMinWidth;
    color: $fontColor;
    background-color: $color;
    border-radius: $btnBorderRadius;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    cursor: $cursor;
}

body {
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;

}

// header {

// }

.my-navbar {
    background-color: grey;
    display: flex;
    height: 50px;
    ul {
        display: inherit;
        flex-grow: 1;
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: space-around;
        li {
            height: 100%;
            a {
                @include displayFlex(center);
                text-decoration: none;
                height: 100%;
                padding: 0 $padding*2;
                color: white;
                &:hover {
                    background-color: rgba(114, 114, 114, 0.836);
                }
            }
        }
    }
}

main {
    flex: 1;
}

.form-login {
    @include displayFlex(center);
    flex-direction: column;
    &__form {
        width: 350px;
        &__ctrl {
            &__input {
                margin: $margin/2 0;
                text-align: right;
                input {
                    width: 190px;
                    height: 30px;
                    font-size: 13px;
                    border-radius: 5px;
                    padding: 0 5px;
                }
                label {
                    margin-right: $margin;
                }
            }
            &__buttons {
                display: flex;
                text-align: right;
                padding: $padding 0;
                &__part1 {
                    flex-grow: 1;
                    &__btn-submit {
                        margin-right: $margin;
                        @include buttonStyle ($btnSubmitColor, $btnFontColor, pointer);
                    }
                    &__btn-submit--disabled {
                        margin-right: $margin;
                        @include buttonStyle ($btnDisabledColor, $btnFontColor, not-allowed);
                    }
                }
                &__part2 {
                    text-align: left;
                    width: 200px;
                    &__btn-cancel {
                        @include buttonStyle ($btnCancelColor, $btnFontColor, pointer);
                    }
                }
            }
        }
        &__error {
            @include displayFlex(center);
            height: 30px;
            color: red;
        }
    }
    &__table {
        width: 350px;
        &__column-one {
            width: auto;
            font-weight: bold;
            text-align: right;
            padding-right: $padding;
        }
        &__column-two {
            width: 200px;
            font-weight: normal;
            text-align: left;
        }
    }
}

.form-sign-up {
    @include displayFlex(center);
    flex-direction: column;
    &__form {
        width: 350px;
        &__ctrl {
            &__input {
                margin: $margin/2 0;
                text-align: right;
                input {
                    width: 190px;
                    height: 30px;
                    font-size: 13px;
                    border-radius: 5px;
                    padding: 0 5px;
                }
                label {
                    margin-right: $margin;
                }
            }
            &__buttons {
                display: flex;
                text-align: right;
                padding: $padding 0;
                &__part1 {
                    flex-grow: 1;
                    &__btn-submit {
                        margin-right: $margin;
                        @include buttonStyle ($btnSubmitColor, $btnFontColor, pointer);
                    }
                    &__btn-submit--disabled {
                        margin-right: $margin;
                        @include buttonStyle ($btnDisabledColor, $btnFontColor, not-allowed);
                    }
                }
                &__part2 {
                    text-align: left;
                    width: 200px;
                    &__btn-cancel {
                        @include buttonStyle ($btnCancelColor, $btnFontColor, pointer);
                    }
                }
            }
        }
        &__error {
            @include displayFlex(center);
            height: 30px;
            color: red;
        }
    }
}

.form-profile {
    @include displayFlex(center);
    flex-direction: column;
    &__form {
        width: 350px;
        &__ctrl {
            div:nth-child(4) {
                margin-top: $margin*3;
            }
            div:nth-child(6) {
                margin-top: $margin*3;
            }
            &__input {
                margin: $margin/2 0;
                text-align: right;
                input {
                    width: 190px;
                    height: 30px;
                    font-size: 13px;
                    border-radius: 5px;
                    padding: 0 5px;
                }
                label {
                    margin-right: $margin;
                }
            }
            &__buttons {
                display: flex;
                text-align: right;
                padding: $padding 0;
                &__part1 {
                    flex-grow: 1;
                    &__btn-submit {
                        margin-right: $margin;
                        @include buttonStyle ($btnSubmitColor, $btnFontColor, pointer);
                    }
                    &__btn-submit--disabled {
                        margin-right: $margin;
                        @include buttonStyle ($btnDisabledColor, $btnFontColor, not-allowed);
                    }
                }
                &__part2 {
                    text-align: left;
                    width: 200px;
                    &__btn-cancel {
                        @include buttonStyle ($btnCancelColor, $btnFontColor, pointer);
                    }
                }
            }
        }
        &__error {
            @include displayFlex(center);
            height: 30px;
            color: red;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    &--hide {
        display: none;
    }
    &__main {
        position:fixed;
        background-color: white;
        width: 50%;
        height: auto;
        min-width: 400px;
        min-height: 150px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border: 1px solid grey;
        border-radius: $borderRadius;
        &__title {
            @include displayFlex(center);
            color: black;
            font-weight: bold;
            height: 30px;
            font-size: 25px;
            text-transform: uppercase;
            margin-top: $margin;
        }
        &__body {
            
            @include displayFlex(center);
            border-bottom: 1px solid lightgrey;
            &__msg {
                border: 1px solid lightgrey;
                border-radius: $borderRadius;
                font-weight: 100;
                width: 90vw;
                min-height: 30px;
                padding: $padding*2;
                margin: $margin;
            }
        }
        &__footer {
            &__ctrl {
                padding: $padding;
                text-align: right;
                &__btn-confirm {
                    @include buttonStyle ($btnSubmitColor, $btnFontColor, pointer);
                }
                &__btn-cancel {
                    margin-left: $margin;
                    @include buttonStyle ($btnCancelColor, $btnFontColor, pointer);
                }
            }
        }
    }
}

.about {
    @include displayFlex(center);
    flex-direction: column;
    &__div {
        margin-top: 3rem;
    }
    &__img {
        width: 180px;
        border-radius: 50%;
    }
    &__name {
        font-size: 1.9rem;
        margin-top: 1rem;
        font-weight: bold;
    }
    &__title {
        font-size: 1.1rem;
        font-weight: bolder;
        margin-top: 0.5rem;
        color: $iconColorHover;
    }
    &__technologies {
        margin-top: 2.5rem;
        font-weight: lighter;
        width: 600px;
        div:first-child {
            font-size: 1.3rem;
        }
    }
    &__social-media {
        margin-top: 1.5rem;
        font-weight: lighter;
        div:first-child {
            font-size: 1.3rem;
        }
    }
    &__icons {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0.5rem;
    }
    &__icon > svg {
        width: 60px;
        height: 60px;
        margin: 20px;
    }
    &__icon-local {
        width: 60px;
        height: 60px;
    }
    &__icon-social-media {
        height: 20px;
        margin: 10px 15px 20px 15px;
        transition: transform .25s;
        filter: grayscale(100%);
        &:hover {
            filter: none;
            transform: scale(2.00);
        }
    }
    &__website {
        a {
            text-decoration: none;
            &:hover {
                color: $iconColorHover;
            }
        }
    }
    &__repo {
        @include displayFlex(center);
        margin-top: 1.5rem;
        height: 20px;
        font-size: 0.9rem;
        a {
            display: inherit;
            align-items: inherit;
            text-decoration: none;
            svg {
                margin-right: 5px;
            }
            &:hover {
                color: $iconColorHover;
            }
        }
    }
}
  
.my-footer {
    @include displayFlex(center);
    background-color: lightgrey;
    padding: $padding 0;
    &__link {
        @include displayFlex(center);
        text-decoration: none;
        color: black;
        padding: 0 $padding/5;
        font-size: 20px;
        line-height: 20px;
        font-family: 'Dhurjati', sans-serif;
        span {
            font-family: 'Dancing Script', cursive;
            font-size: 13px;
            font-weight: bold;
        }
        img {
            width: 20px;
        }
    }
}

