body {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.my-navbar {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.my-navbar ul {
  display: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-navbar ul li {
  height: 100%;
}

.my-navbar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 100%;
  padding: 0 20px;
  color: white;
}

.my-navbar ul li a:hover {
  background-color: rgba(114, 114, 114, 0.836);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-login__form {
  width: 350px;
}

.form-login__form__ctrl__input {
  margin: 5px 0;
  text-align: right;
}

.form-login__form__ctrl__input input {
  width: 190px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  padding: 0 5px;
}

.form-login__form__ctrl__input label {
  margin-right: 10px;
}

.form-login__form__ctrl__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding: 10px 0;
}

.form-login__form__ctrl__buttons__part1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-login__form__ctrl__buttons__part1__btn-submit {
  margin-right: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #1976d2;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.form-login__form__ctrl__buttons__part1__btn-submit--disabled {
  margin-right: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: lightgrey;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: not-allowed;
}

.form-login__form__ctrl__buttons__part2 {
  text-align: left;
  width: 200px;
}

.form-login__form__ctrl__buttons__part2__btn-cancel {
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #ea4564;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.form-login__form__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: red;
}

.form-login__table {
  width: 350px;
}

.form-login__table__column-one {
  width: auto;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.form-login__table__column-two {
  width: 200px;
  font-weight: normal;
  text-align: left;
}

.form-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-sign-up__form {
  width: 350px;
}

.form-sign-up__form__ctrl__input {
  margin: 5px 0;
  text-align: right;
}

.form-sign-up__form__ctrl__input input {
  width: 190px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  padding: 0 5px;
}

.form-sign-up__form__ctrl__input label {
  margin-right: 10px;
}

.form-sign-up__form__ctrl__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding: 10px 0;
}

.form-sign-up__form__ctrl__buttons__part1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-sign-up__form__ctrl__buttons__part1__btn-submit {
  margin-right: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #1976d2;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.form-sign-up__form__ctrl__buttons__part1__btn-submit--disabled {
  margin-right: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: lightgrey;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: not-allowed;
}

.form-sign-up__form__ctrl__buttons__part2 {
  text-align: left;
  width: 200px;
}

.form-sign-up__form__ctrl__buttons__part2__btn-cancel {
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #ea4564;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.form-sign-up__form__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: red;
}

.form-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-profile__form {
  width: 350px;
}

.form-profile__form__ctrl div:nth-child(4) {
  margin-top: 30px;
}

.form-profile__form__ctrl div:nth-child(6) {
  margin-top: 30px;
}

.form-profile__form__ctrl__input {
  margin: 5px 0;
  text-align: right;
}

.form-profile__form__ctrl__input input {
  width: 190px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  padding: 0 5px;
}

.form-profile__form__ctrl__input label {
  margin-right: 10px;
}

.form-profile__form__ctrl__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding: 10px 0;
}

.form-profile__form__ctrl__buttons__part1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-profile__form__ctrl__buttons__part1__btn-submit {
  margin-right: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #1976d2;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.form-profile__form__ctrl__buttons__part1__btn-submit--disabled {
  margin-right: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: lightgrey;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: not-allowed;
}

.form-profile__form__ctrl__buttons__part2 {
  text-align: left;
  width: 200px;
}

.form-profile__form__ctrl__buttons__part2__btn-cancel {
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #ea4564;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.form-profile__form__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal--hide {
  display: none;
}

.modal__main {
  position: fixed;
  background-color: white;
  width: 50%;
  height: auto;
  min-width: 400px;
  min-height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid grey;
  border-radius: 5px;
}

.modal__main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bold;
  height: 30px;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 10px;
}

.modal__main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgrey;
}

.modal__main__body__msg {
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: 100;
  width: 90vw;
  min-height: 30px;
  padding: 20px;
  margin: 10px;
}

.modal__main__footer__ctrl {
  padding: 10px;
  text-align: right;
}

.modal__main__footer__ctrl__btn-confirm {
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #1976d2;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.modal__main__footer__ctrl__btn-cancel {
  margin-left: 10px;
  min-height: 30px;
  min-width: 80px;
  color: white;
  background-color: #ea4564;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.my-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  padding: 10px 0;
}

.my-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  padding: 0 2px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Dhurjati', sans-serif;
}

.my-footer__link span {
  font-family: 'Dancing Script', cursive;
  font-size: 13px;
  font-weight: bold;
}

.my-footer__link img {
  width: 20px;
}
